/.idea
/calculator.py
/estrutura de decisão.py
/Exemplo01.py
/Exemplo02.py
/ExibiVariavel.py
/Funções.py
/Funções2.py
/Laços de repetição.py
/MEDIA.py
/Operadores.py
/orientadaobjetos.py
/primeiro projeto.py
/texto.txt
/TipoVariavel.py